body {
    background-color: rgb(66, 41, 84);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 24px;
}

h2 {
    color: darkgray;
    font-size: 20px;
}

p {
    font-size: 16px;
    text-align: left;
}

table, th, td, tr {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
}

#common {
    background-color: rgb(128, 128, 128)
}

#rare {
    background-color: rgb(252, 199, 0)
}

#epic {
    background-color: rgb(205, 0, 252)
}
