body {
    background-color: rgb(66, 41, 84);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

big-header {
    text-color: rgb(128, 128, 128)
    font-family: 'Times New Roman', Times, serif;
    font-size: 112px;
    text-align: center;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 72px;
    text-align: center;
}

table, th, td, tr {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    background-color: rgb(251, 250, 245)
}

#common {
    background: rgb(128, 128, 128);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#rare {
    background: rgb(252, 199, 0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#epic {
    background: rgb(205, 0, 252);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#legendary {
    background: linear-gradient(90deg, rgb(255, 94, 64), rgb(252, 199, 0), rgb(144, 238, 50), rgb(74, 212, 255), rgb(252, 128, 255), rgb(255, 94, 64), rgb(252, 199, 0), rgb(144, 238, 50), rgb(74, 212, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#evasion {
    background-image: url("evasion-blob.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fervor {
    background-image: url("fervor-blob.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#frozen-hull {
    background-image: url("frozen-hull.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#target-practice {
    background-image: url("target_practice.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#thorns {
    background-image: url("thorn-blob.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#onion {
    background-image: url("onion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hot-drop {
    background-image: url("hot-drop-blob.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#healing-salve {
    background-image: url("healing-salve.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
