body {
    background-color: rgb(66, 41, 84);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

title {
    font-size: 24px;
    text-align: center;
}

table, th, td, tr {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    background-color: rgb(251, 250, 245)
}

#common {
    background-color: rgb(128, 128, 128)
}

#rare {
    background-color: rgb(252, 199, 0)
}

#epic {
    background-color: rgb(205, 0, 252)
}

#legendary {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple)
}
